# <center>Fase 1 y 2: </center>
_____
______
## <span style="color:#f7e85f">**EDA + Limpieza de datos**</span>

###  ðŸ“š Importar <span style="color:#f7e85f">LibrerÃ­as</span> y Comprobando <span style="color:#f7e85f">Visualizaciones</span>

In [10]:
# Importar librerÃ­as y extender visualizaciÃ³n
import pandas as pd
import numpy as np
import re 

import matplotlib.pyplot as plt
import matplotlib.cm as cm
import matplotlib.image as mpimg
import seaborn as sns

import scipy.stats as stats
from scipy.stats import shapiro, poisson, chisquare, expon, kstest, ttest_ind, norm, chi2_contingency, f_oneway, chi2_contingency, mannwhitneyu, kruskal, kendalltau

from sklearn.linear_model import LinearRegression
from sklearn.impute import SimpleImputer
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.impute import KNNImputer

import mysql.connector
from mysql.connector import errorcode

# -----------------------------------------------------------------------
# GestiÃ³n de los warnings
import warnings
warnings.filterwarnings("ignore")



# -----------------------------------------------------------------------
# Comprobando que el display sea el mÃ¡ximo para mostrar mejor el data frame
pd.set_option("display.max_rows", None)  # Cambia el nÃºmero mÃ¡ximo de filas mostradas
pd.set_option("display.max_columns", None)  # Cambia el nÃºmero mÃ¡ximo de columnas mostradas
pd.set_option("display.max_colwidth", None)  # Cambia el ancho mÃ¡ximo de la pantalla

###  ðŸ“– <span style="color:#f7e85f">Leer archivos</span>

In [3]:
df_clientes = pd.read_csv(r"C:\Users\yaelp\Desktop\Adalab\Proyectos grupo\Proyecto_04\clientes.csv")
df_productos = pd.read_csv(r"C:\Users\yaelp\Desktop\Adalab\Proyectos grupo\Proyecto_04\productos.csv")
df_ventas = pd.read_csv(r"C:\Users\yaelp\Desktop\Adalab\Proyectos grupo\Proyecto_04\ventas.csv")

### ðŸ§¼ <span style="color:#f7e85f">Limpieza de datos</span>

* Hacer cambios en <span style="color:#f7e85f">**df_productos**</span>
    * En la columna precio, hay que quitar el metacaracter de euros â‚¬ y mandar a float
    * Hay 600 nulos en la columna precio

In [4]:
# Quitar metacaracter de euro â‚¬ ---------------------------------------------------------------------------------

columnas1 = ["precio"]
def cambiar_simbolo(columnas):
    try:
        return columnas.str.replace("â‚¬","").str.replace(",", "").str.strip()
    except:
        return np.nan
for columna in columnas1:
    df_productos[columna] = cambiar_simbolo(df_productos[columna])

df_productos.head()
# Cambiar de objeto a float -------------------------------------------------------------------------------------
df_productos["precio"] = df_productos["precio"].astype(float)

df_productos.dtypes

id_producto     object
precio         float64
categoria       object
descripcion     object
dtype: object

* Hacer cambios en <span style="color:#f7e85f">**df_clientes**</span>
    * Crear columna nueva llamada "pais"
        * Traer despuÃ©s de la coma de ciudad todo
    * Editar columna ciudad
        * eliminar todo despuÃ©s de la coma

In [5]:
# Crear columna pais -------------------------------------------------------------------------------------------
df_clientes["pais"] = df_clientes['ciudad'].apply(lambda x: x.split(',')[-1].strip())
# Editar columna ciudad ----------------------------------------------------------------------------------------
df_clientes['ciudad'] = df_clientes['ciudad'].str.split(',').str[0]

* Guardando los <span style="color:#f7e85f">**CSVs Limpios**</span>

In [11]:
df_clientes.to_csv("clientes_limpio.csv")
df_ventas.to_csv("ventas_limpio.csv")
df_productos.to_csv("productos_limpio.csv")

# <center>**Bonus BBDD**: </center>
______
_____

### ðŸ”— Conectar crear <span style="color:#f7e85f">**BBDD + Tablas**</span>

In [ ]:
def creacion_bbdd_tablas():
    try:
        # Conectar a MySQL Server
        cnx = mysql.connector.connect(
            user='root',       
            password='AlumnaAdalab',  
            host='127.0.0.1'   
        )
# ------------------------------------------------------------------------------
        if cnx.is_connected():
            print("Â¡Conectado!")

            mycursor = cnx.cursor()

            # Crear la base de datos si no existe
            mycursor.execute("CREATE DATABASE IF NOT EXISTS BBDD_DataTech_Solutions")
            print("Base de datos 'BBDD_DataTech_Solutions' creada correctamente.")

            # Usar la base de datos
            try:
                mycursor.execute("USE BBDD_DataTech_Solutions")
                print("Base de datos seleccionada correctamente.")
            except mysql.connector.Error as err:
                print("Error al seleccionar la base de datos.")
                print("CÃ³digo de Error:", err.errno)
                print("SQLSTATE:", err.sqlstate)
                print("Mensaje:", err.msg)
# ------------------------------------------------------------------------------
# Crear la tabla de 'clientes'

            mycursor.execute("""
                CREATE TABLE IF NOT EXISTS clientes (
                    id_cliente VARCHAR (20) PRIMARY KEY,
                    nombre VARCHAR (50),
                    apellido VARCHAR (50), 
                    ciudad VARHCAR ()50,        
                    pais  VRCHAR (50)
                );
            """)
            print("Tabla 'clientes' creada.")
# ------------------------------------------------------------------------------
# Crear la tabla de 'productos'

            mycursor.execute("""
                CREATE TABLE IF NOT EXISTS productos (
                    id_producto VARCHAR (20) PRIMARY KEY,
                    precio FLOAT,
                    categoria VARCHAR (200), 
                    descripcion VARHCAR (300)
                );
            """)
            print("Tabla 'productos' creada.")
# ------------------------------------------------------------------------------
# Crear la tabla de 'ventas'

            mycursor.execute("""
                CREATE TABLE IF NOT EXISTS ventas (
                    id_venta VARCHAR (20) PRIMARY KEY,
                    id_producto VARCHAR (20),
                    cantidad INT, 
                    fecha DATETIME,
                    id_cliente VARCHAR (20),
                    FOREIGN KEY (id_producto) REFERENCES productos(id_producto),
                    FOREIGN KEY (id_cliente) REFERENCES clientes(id_cliente)
                );
            """)
            print("Tabla 'ventas' creada.")
# -----------------------------------------------------------------------------
    except mysql.connector.Error as err:
        print("Se produjo un error al crear la tabla.")
        print("CÃ³digo de Error:", err.errno)
        print("SQLSTATE:", err.sqlstate)
        print("Mensaje:", err.msg)
# ------------------------------------------------------------------------------
    finally:
        if cnx.is_connected():
            mycursor.close()
            cnx.close()
            print("ConexiÃ³n MySQL cerrada.")

# ------------------------------------------------------------------------------
# Ejecutar la funciÃ³n para crear la base de datos y tablas
creacion_bbdd_tablas()

### ðŸ”„ Pasar a <span style="color:#f7e85f">**Lista de Tuplas**</span>

In [ ]:
lista_tuplas_clientes = [tuple(row) for row in df_clientes.itertuples(index=False, name=None)]
lista_tuplas_productos = [tuple(row) for row in df_productos.itertuples(index=False, name=None)]
lista_tuplas_ventas = [tuple(row) for row in df_ventas.itertuples(index=False, name=None)]

### âž• <span style="color:#f7e85f">**Insertar Datos**</span>

* Tabla <span style="color:#f7e85f">clientes</span>

In [ ]:
sql = ("INSERT INTO clientes (id_cliente, nombre, apellido, ciudad, pais) VALUES (%s, %s, %s, %s, %s)")

val = lista_tuplas_clientes

* Tabla <span style="color:#f7e85f">productos</span>

* Tabla <span style="color:#f7e85f">ventas</span>